#po{
    margin-left: 180px;
    
}
#mo{
    margin-left: 580px;
    margin-top: 100px;
}
#ao{
    margin-left: 630px;
}
#bo{
    margin-left: 820px;
    margin-top: -80px;
}
#boo{
    margin-left: 650px;
    margin-top: -66px;
}